[submodule "hands"]
	path = hands
	url = https://github.com/julianfl0w/hands
[submodule "attendjs"]
	path = attendjs
	url = https://github.com/julianfl0w/attendjs
[submodule "SoundJSON"]
	path = SoundJSON
	url = https://github.com/julianfl0w/SoundJSON
[submodule "clouddoc"]
	path = clouddoc
	url = https://github.com/julianfl0w/clouddoc
