body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

#background {
    content: '';
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./images/chinesetropical.webp');
    background-size: cover;
    opacity: 0.70;
    z-index: -1;
}

#navbar {
    background-color: #555;
    overflow: hidden;
    position: sticky;
    top: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#navbar li {
    margin: 2px;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover,
#navbar li a.active {
    background-color: #ddd;
    color: black;
}

.header {
    background-color: #f4f4f4;
    text-align: center;
    width: 100%;
    padding: 10;
    margin: 10 auto;
}

.content {
    text-align: center;
}

#certimg{
    width: 30%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#profileimg {
    width: 70%;
    display: block;
    height: auto;
    margin: 0 auto;
}

@media screen and (orientation: portrait) {
    #navbar ul {
        flex-direction: column;
    }

    #background {
        background-image: url('./images/chinesetropical_vert.webp');
    }
}

@media screen and (orientation: landscape) {
    #navbar ul {
        flex-direction: row;
    }

    #profileimg {
        width: 30%;
    }
}

.iframe-container {
    position: relative;
    width: 70%;
    /* Adjust this width as needed */
    margin: 0 auto;
    /* Centers the container */
    padding-top: 39.25%;
    /* Aspect ratio for the iframe */
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}